:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


main.main-container {
  max-width: 100%;
  min-height: 100dvh;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

article.quote-card {
  min-width: 280px;
  max-width: 380px;
  height: fit-content;
  border-radius: 8px;
  padding: 2.5rem; 
  box-shadow: 0px 4px 18px -10px rgba(0,0,0,0.75);
  background-color: var(--dark-grayish-blue);
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & span {
    color: var(--neon-green);
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  & h2 {
    font-size: 24px;
    color: var(--light-cyan);
    line-height: 1.4;
    margin-block: 1.5rem;
  }

  & img {
    width: 100%;
  }

  & button.random {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--neon-green);
    transition: .3s all  ease-in;
  }
  
  & button.random:hover {
    box-shadow: 0px 0px 15px 1px var(--neon-green);
  }

  & svg.spin {
    animation: spin 1s linear infinite;
  }
}

@media (max-width: 425px) {

  main.main-container {
    padding: 0 1.5rem;
  }

  article.quote-card {
    padding: 2rem 1rem;
    
    & h2 {
      font-size: 22px;
    }
  }
}

